* {
	box-sizing: border-box;
}
  
body{
	margin: 0;
	padding:0;
	--pos-translate-x: 0%;
	--principal-color: #90dfce;
	--darker-principal-color: #05ad88;
}

a, .date, .job-title, .tech {
	color: var(--darker-principal-color);
	text-decoration: none;
}

.date, .job-title, .tech {
	cursor: default;
}

a:hover, .date:hover, .job-title:hover, .tech:hover {
	animation-name: border-link-thickness;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes border-link-thickness{
	0%{
		border-bottom: 0px solid var(--principal-color);
	} 25% {
		border-bottom: 1px solid var(--principal-color);
	} 50% {
		border-bottom: 2px solid var(--principal-color);
	} 75% {
		border-bottom: 3px solid var(--principal-color);
	} 100% {
		border-bottom: 4px solid var(--principal-color);
	}
}

#app{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1, h2{
	font-family: 'Poppins';
	margin: 0;
	display: flex;
	flex-direction: column;
}

h1::after, h2::after {
	width: 15em;
	height: 10px;
	background-color: var(--principal-color);
	content:'';
}

@media only screen and (max-width: 350px){
	h1, h2 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 1250px){
	h1::after, h2::after{
		width: 100%;
	}
}

p {
	font-size: 1.25em;
}

@media only screen and (max-width: 1400px){
	p {
		font-size: 1em;
	}
}

.slide-bar{
	margin-top: 1em;
	width: 75%;
	height: 3em;
	border: 1px solid black;
	border-bottom: 3px solid black;
	border-right:  3px solid black;
	border-radius: 1em;
}

.where-to-find {
	width: 75%;
	margin: 0.25em 0;
}

.sidebar-button, .under-layer{
	position: relative;
	background: transparent;
	box-shadow: 0 transparent;
	border: 0 solid transparent;
	text-shadow: 0 0 0 transparent;
	font-family: 'Poppins';
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	cursor: pointer;
	width: 25%;
	height: 100%;
	font-size: 1em;
	text-align: center;
}

@media only screen and (max-width: 420px){
	.sidebar-button{
		font-size: 0.75em;
	}
}

@media only screen and (max-width: 330px){
	.sidebar-button{
		font-size: 0.65em;
	}
}

@media only screen and (max-width: 299px){
	.sidebar-button{
		font-size: 0.6em;
	}
}

.under-layer{
	background-color: var(--principal-color);
	width: 25%;
	height: 100%;
	border-radius: 1em;
	cursor: auto;
	pointer-events: auto;
	content: "";
	z-index: -1;
	transform: translate(var(--pos-translate-x), -100%);
}

.pos-1{
	--pos-translate-x: 0%;
}

.pos-2{
	--pos-translate-x: 100%;
}

.pos-3{
	--pos-translate-x: 200%;
}

.pos-4{
	--pos-translate-x: 300%;
}

.about-me-grid, .project-grid {
	width: 75%;
	height: 30em;
	margin-top: 3em;
	border: 1px solid black;
	border-bottom: 3px solid black;
	border-right:  3px solid black;
	padding: 1em 1em;
	border-radius: 1em;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

.project-grid{
	width: 100%;
}

.companies-list, .projects-list {
	width: 75%;
	height: fit-content;
	margin: 3em 0;
}

.projects-list {
	margin: 0;
}

.projects-list{
	margin-bottom: 3em;
}

@media only screen and (max-width: 350px){
	.about-me-grid, .project-grid {
		height: 32em;
	}
}

@media only screen and (max-width: 300px){
	.about-me-grid, .project-grid {
		height: 50em;
	}
}

@media only screen and (max-width: 1700px){
	.about-me-grid, .project-grid{
		gap: 1em;
	}
}

.my-description{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 4;
}

.my-picture-wrapper, .my-project-wrapper{
	justify-self: center;
	align-self: center;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	height: fit-content;
	border-left: 15px solid var(--principal-color);
	border-radius: 100%;
	width: 415px;
	height: 400px;
	background-color: var(--principal-color);
}

.my-project-wrapper{
	border-left: 0;
	border: 15px solid var(--principal-color);
	border-radius: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1100px){
	.about-me-grid, .project-grid{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.my-description{
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.my-project-wrapper, .my-picture-wrapper, img{
		display: none;
	}

}


@media only screen and (max-width: 800px){
	.about-me-grid, .slide-bar, .where-to-find, .companies-list, .projects-list {
		width: calc(100% - 1em);
		margin: 0.5em 0.5em;
	}
}

.square-img{
	width: 14px;
	height: 14px;
	cursor: pointer;
	background-color: var(--principal-color);
	margin: 0 0.25em;
}

.square-active{
	background-color: var(--darker-principal-color);
}